@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
    text-align: center;
    font-family: 'Press Start 2P', 'VT323';
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0%;
    left: 0%;
    position: fixed;
}

.moving-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/background/street.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 40%;
    opacity: 0.89;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    /* font-family: sans-serif; */
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: black;
    /* border-radius: 25%; */
}

/* .styled-table thead tr {
    background-color: #45216b;
    color: white;
    text-align: left;
} */

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/* .styled-table tbody tr {
    border-bottom: 10px solid #dddddd;
} */

/* .styled-table tbody tr:nth-of-type(even) {
    background-color: #45216b;
} */

/* .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-contact {
    background-color: #fa690e;
    border-radius: '5px';
    box-shadow: '0px 2px 2px 1px #0F0F0F';
    color: white;
    cursor: pointer;
    font-family: 'VT323';
    padding: '5px';
    margin: '0 15px';
    font-size: 25px;
}

.btn-contact:hover {
    background-color: #45216b;
}
