@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
    color: #fff;
    text-decoration: none;
}

.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    height: 40px;
    /* margin: 0 auto; */
}